/* Default Theme Styles for Document Elements */

/* Headings */
.doc-title,
h1.doc-title {
    font-size: 18pt;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0.5em;
    color: #000;
}

.section-heading,
h2.section-heading {
    font-size: 14pt;
    font-weight: bold;
    margin-top: 1em;
    margin-bottom: 0.5em;
    color: #222;
}

.subsection-heading,
h3.subsection-heading {
    font-size: 12pt;
    font-weight: bold;
    margin-top: 0.8em;
    margin-bottom: 0.4em;
    color: #333;
}

.subsubsection-heading,
h4.subsubsection-heading,
.paragraph-heading,
h5.paragraph-heading,
.minor-heading,
h6.minor-heading {
    font-size: 11pt;
    font-weight: bold;
    margin-top: 0.6em;
    margin-bottom: 0.3em;
    color: #444;
}

/* Paragraphs */
.body-text,
p.body-text {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    text-align: justify;
}

/* Lists */
ul, ol {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding-left: 2em;
}

li {
    margin-bottom: 0.3em;
}

/* Tables */
.data-table,
table.data-table {
    width: 100%;
    border-collapse: collapse;
    margin: 1em 0;
    font-size: 10pt;
}

.data-table th {
    background-color: #f0f0f0;
    border: 1px solid #999;
    padding: 0.4em;
    text-align: left;
    font-weight: bold;
}

.data-table td {
    border: 1px solid #ccc;
    padding: 0.4em;
}

/* Code Blocks */
.code-block,
pre.code-block,
code.code-block {
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-left: 3px solid #666;
    padding: 0.8em;
    margin: 0.8em 0;
    font-family: "Courier New", Courier, monospace;
    font-size: 9pt;
    overflow-x: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
}

/* Callouts */
.callout-warning {
    background-color: #fff3cd;
    border-left: 4px solid #ffc107;
    padding: 0.8em 1em;
    margin: 1em 0;
}

.callout-danger {
    background-color: #f8d7da;
    border-left: 4px solid #dc3545;
    padding: 0.8em 1em;
    margin: 1em 0;
}

.callout-note,
.callout-info {
    background-color: #d1ecf1;
    border-left: 4px solid #17a2b8;
    padding: 0.8em 1em;
    margin: 1em 0;
}

.callout-tip {
    background-color: #d4edda;
    border-left: 4px solid #28a745;
    padding: 0.8em 1em;
    margin: 1em 0;
}

/* Images */
img {
    max-width: 100%;
    height: auto;
    margin: 1em 0;
}

/* Wikilinks */
.wikilink {
    color: #0066cc;
    text-decoration: underline;
}
